.inputOption {
  display: flex;
  align-items: center;
  margin-top: 0.9375rem;
  cursor: pointer;
  padding: 0.625rem;
  color: gray;
}
.inputOption:hover {
  background-color: whitesmoke;
  border-radius: 0.625rem;
}
.inputOption > h4 {
  margin-left: 0.3125rem;
}
