.widgets {
  position: sticky;
  flex: 0.2;
  top: 5rem;
  background-color: white;
  border-radius: 0.625rem;
  border: 1px solid lightgray;
  height: fit-content;
  padding-bottom: 0.625rem;
}
.widgets__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem;
}
.widgets__header > h2 {
  font-size: 1rem;
  font-weight: 400;
}
.widgets__article {
  display: flex;
  padding: 0.625rem;
  cursor: pointer;
}
.widgets__article:hover {
  background-color: whitesmoke;
}
.widgets__articleLeft {
  color: #0177b7;
  margin-right: 0.3125rem;
}
.widgets__articleLeft > .MuiSvgIcon-root {
  font-size: 0.9375rem;
}
.widgets__articleRight {
  flex: 1;
}
.widgets__articleRight > h4 {
  font-size: 0.875rem;
}
.widgets__articleRight > p {
  font-size: 0.75rem;
  color: gray;
}
